.product-banner {
    position: relative;

    .banner {
        img {
            width: 100vw;
            height: 80vh;
            max-width: 100%;
            display: block;
            margin: 0;

            @media screen and (max-width: 800px) and (min-width: 250px) {
                height: auto;

            }
        }
    }

    .banner-container {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translate(0%, -50%);
        color: #fff;

        @media screen and (max-width: 600px) and (min-width: 250px) {
            text-align: center;

        }

    }
}

.product-banner-2 {
    background-color: #000;

    padding: 5%;

    &.banner {
        img {
            width: 100vw;
            height: 90vh;
            max-width: 100%;
            display: block;
            margin: 0;

            @media screen and (max-width: 768px) and (min-width: 250px) {
                height: auto;

            }
        }
    }
}

.product-banner-3,
.product-banner-4 {
    background-color: #e4e4e4;

    padding: 5%;

    &.banner {
        img {
            width: 100vw;
            max-width: 100%;
            display: block;
            margin: 0;

            @media screen and (max-width: 600px) and (min-width: 250px) {
                height: auto;

            }
        }
    }
}

.our-service-desc {
    // background-color: #f1f1f1;
    padding: 5%;

    p {
        font-size: 1.25rem;

        @media screen and (max-width: 600px) and (min-width: 250px) {
            font-size: 16px;

        }
    }

}