<section class="container-fluid product-banner dark-backg">
    <div class="banner">
        <img src="../../assets/images/services-bg.png" />
    </div>
    <div class="banner-container">
        <h1>
            Our <br>Service
        </h1>
    </div>
</section>

<section class="container-fluid dark-backg">
    <div class="product-banner-2 banner">
        <img src="../../assets/images/managed-services.png">
    </div>

</section>
<div class="container-fluid">

    <div class="our-service-desc">
        <p class="mb-0">The cloud is here to stay but it’s not designed to meet every business' needs. Businesses are
            struggling to
            manage
            costs, secure their data in the cloud, and source the right talent to harness the full power of the cloud.
            We
            have
            worked with enterprise clients for over 10 years to solve cloud hosting, cloud migration, and complex IT
            infrastructure
            problems with a software-driven approach to managed services.</p>
    </div>

</div>

<section class="container-fluid">
    <div class="product-banner-3 banner">
        <img src="../../assets/images/inhouse-outsource.png">
    </div>

</section>
<div class="container-fluid">

    <div class="our-service-desc">
        <p class="mb-0">Our team of certified engineers apply cloud automation best practices to enable optimal
            performance,
            guaranteed uptime,
            and secure your cloud environments. As an AWS Partner, we have proven expertise in managing complex cloud
            infrastructures for enterprise clients in the healthcare, financial services, pharmaceutical, and
            semiconductor
            industries. With 24x7x365 high-touch support, we ensure our clients' cloud environments are always available
            and secure.</p>
    </div>

</div>
<section class="container-fluid">
    <div class="product-banner-4 banner">
        <img src="../../assets/images/services-list.png">
    </div>

</section>
<!-- 

<section class="hero is-black">
    <div class="image-text-container">
        <figure class="image" style="filter: brightness(100%)">
            <img src="../../assets/images/our-products-bg.png" />
        </figure>
        <div class="text-over-image-container">
            <div class="has-text-right">
                <div class="is-uppercase is-size-1 has-text-white is-family-secondary">Our <br> Products</div>
            </div>
        </div>
    </div>
</section>

<section class="section hero has-background-light">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 has-text-left">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos Platform</div>
                <div class="is-size-5">Tropos is a novel DevSecOps platform that helps in Cloud/Digital Transformation
                    based on
                    IaC concepts with additional comprehensive features such as Shift Left Security, Monitoring,
                    Alerting,
                    Built-In Compliance, & Managed Services.</div>
                <button style="width: 60%;" class="mt-6 mb-6 button is-primary" routerLink="/contact"
                    routerLinkActive="router-link-active">Learn More</button>
                <div class="is-size-5">Tropos Platform meets your entire SDLC by packaging infrastructure, networking,
                    and DevSecOps tools into a Compliance-ready, Environment-as-a-Service (EaaS). Tropos Platform
                    enables
                    automation of all clouds from one Web application
                    while using existing frameworks to bridge the gap between DevSecOps and ITSM processes.
                </div>
            </div>
            <div class="column is-6">
                <div class="hexrow" style="margin-top: 25%;">
                    <div>
                        <span>PLATFORM</span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span>NETWORK MONITOR</span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span>ALERTS</span>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="hexrow">
                    <div>
                        <span>LICENSE MONITOR</span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span>DEVSECOPS</span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span>SECURITY SHIELD</span>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="hexrow">
                    <div>
                        <span></span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span>COMPLIANCE</span>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <span></span>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(205, 238, 236, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <figure class="image">
                    <img src="../../assets/images/tropos-license-monitor.png" />
                </figure>
            </div>
            <div class="column is-6 has-text-right">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos License Monitor
                </div>
                <div class="is-size-5">Manage all your Software tool licenses and usage across your enterprise and
                    escalate
                    before license expiration. Dynamic reporting to view cost and usage analytics. Never run out of
                    trial licenses
                    or fewer licenses than necessary to run your business with preemptive alerting and tracking of each
                    license
                    and their user.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(211, 210, 243, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 has-text-left">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos Network Monitor
                </div>
                <div class="is-size-5">Monitor all your enterprise network routers, switches, and servers in real-time
                    and get a
                    birds eye view of your entire network for issues. Built-in threat detection for anomalies and
                    alerting.
                </div>
            </div>
            <div class="column is-6">
                <figure class="image">
                    <img src="../../assets/images/tropos-network-monitor.png" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(240, 239, 243, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <figure class="image">
                    <img src="../../assets/images/tropos-devsecops.png" />
                </figure>
            </div>
            <div class="column is-6 has-text-right">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos DevSecOps
                </div>
                <div class="is-size-5">DevSecOps as a Service creates a new 'culture' that bridges gaps between the
                    primary
                    operational teams i.e., Development (Dev) and Operations (Ops), for better collaboration and
                    enhanced
                    productivity.
                    With our 'Security as Code' mechanism, we implement end-to-end security integration across your
                    enterprise.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(254, 197, 194, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 has-text-left">
                <div class="is-size-2 has-text-weight-bold">Tropos Compliance
                </div>
                <div class="is-size-5 has-text-weight-bold">•HIPAA
                    •GDPR
                    •SOC 2
                    •ISO 27001
                    •CMMC
                </div>
                <div class="is-size-5 has-text-weight-bold mb-6">•CMMC Level 3
                </div>
                <div class="is-size-6">
                    Applies to any supplier in defense contract supply chain <br>
                    Protect <br>
                    Fed Contract Info(FCI) - Generated by gov but not Intended for public release <br>
                    Controlled Unclassified Info (CUI) - Needs safeguarding but isn't considered classified. <br>
                    CMMC Version 1.0 released on Jan 31, 2020 <br>
                    CMMC Version 1.02 released on Dec 20, 2020 <br>
                    171 practices included in 5 levels of certification <br>
                    CMMC requirements in all defense contracts by 2026 <br>
                    Affects 300K organizations <br>
                    30% will need to meet Level 3 <br>
                    < 1% will need to meet Level 4,5 <br>
                        ITOps, Alerts, On-Call & Security monitoring <br>
                        24/7/365 Real Time Support <br>
                </div>
            </div>
            <div class="column is-6">
                <figure class="image">
                    <img src="../../assets/images/tropos-compliance.png" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(240, 239, 243, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <figure class="image">
                    <img src="../../assets/images/tropos-alerts.png" />
                </figure>
            </div>
            <div class="column is-6 has-text-right">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos Alerts
                </div>
                <div class="is-size-5">Custom incident management & Notification platform that Routes, Escalates, and
                    Alerts team members based on their Call Schedule. Provides Inbound phone numbers & Call Routing for
                    Workflow automation & Integration across Slack, Jira, Teams, Splunk, and other enterprise ITSM
                    tools.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero" style="background-color: rgba(211, 210, 243, 1);">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6 has-text-left">
                <div class="is-size-2 has-text-weight-bold mb-6">Tropos Security Shield
                </div>
                <div class="is-size-5">Keeping your websites, apps, APIs, and users safe requires deep expertise and
                    world-class technology to
                    stay ahead of online threats. Tropos Security Shield integrates proactive monitoring, advisory
                    reporting, fast incident
                    response, periodic tuning, and dedicated security experts into a single managed security platform.
                    With the scale to protect
                    your organization against the largest and most sophisticated attacks, Tropos Security Shield
                    provides your organization the
                    peace of mind to stay focused on your business.
                    <br>
                    <br>
                    Proactive monitoring of security events provides early threat detection, and advisory reporting
                    delivers intelligence for actionable insights. If your business experiences an attack, Tropos
                    Security Shield implements the appropriate responses to mitigate active threats.
                    <br>
                    <br>
                    To address the ever-changing threat landscape, Tropos Security Shield regularly updates security
                    configurations to maintain the highest levels of protection. Tuple maps a security strategy to your
                    business needs that integrates industry expertise and best practices

                </div>
            </div>
            <div class="column is-6 has-text-centered">
                <figure class="image">
                    <img src="../../assets/images/tropos-security-shield.png" />
                </figure>
                <button style="width: 40%;" class="mt-6 mb-6 button is-primary" routerLink="/security-shield"
                    routerLinkActive="router-link-active">Learn More</button>
            </div>
        </div>
    </div>
</section> -->