<footer class="footer align-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">

                    <img src="../../assets/images/tuple-logo.png" class="" width="236.078" height="59.984">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="https://www.linkedin.com/company/tupletechnologies" target="_blank"
                        class="has-text-primary">
                        <span class="icon">
                            <i class="fab fa-linkedin-in " aria-hidden="true"></i>
                        </span>
                    </a>
                    &nbsp;
                    <a href="https://github.com/TupleTechnologies" target="_blank" class="has-text-primary">
                        <span class="icon">
                            <i class="fab fa-github " aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="d-flex justify-content-center" style="font-size: 12px;"> © Tuple Tech. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>