<section class="hero ">
    <!-- <div class="hero-body pt-0 pb-0" style="padding:0px;"> -->
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" style="filter: brightness(40%)">
                <img src="../../assets/images/cloud-building.png" />
            </div>
            <div class="carousel-caption">
                <h1>Future proof
                    your</h1>
                <h3> Any Cloud, IT Ops, DevSecOps, On-Demand - Managed Securely</h3>
                <button type="button" class="btn btn-primary" routerLink="/products"
                    routerLinkActive="router-link-active">
                    Experience Tropos platform</button>
                <!-- <div class="has-text-centered"> -->

                <!-- <div class="is-uppercase is-size-1 is-size-3-mobile has-text-white is-family-secondary">
                        IT</div>
                    <div class="subtitle has-text-white is-size-3 is-size-6-mobile">
               
                    </div>
                    <div class="button is-primary is-responsive" routerLink="/products"
                        routerLinkActive="router-link-active">
                        Experience Tropos platform</div>
                </div> -->
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" style="filter: brightness(60%)">
                <img src="../../assets/images/carousal-1-background.png" />
            </div>
            <div class="carousel-caption">
                <h1>Digital
                    Transformation</h1>
                <h3> Clearly, the thing that's transforming is not the technology it's the technology that is
                    transforming you.</h3>
                <button class="btn btn-primary" routerLink="/digital-transformation"
                    routerLinkActive="router-link-active">
                    Learn More</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" style="filter: brightness(60%)">
                <img src="../../assets/images/carousal-2-background.png" />
            </div>
            <div class="carousel-caption cap-right">
                <h1 class="trop-3">
                    Tropos
                </h1>
                <h3>
                    A novel DevSecOps platform
                </h3>
                <h3>
                    Cloud Automation
                </h3>
                <button class="btn btn-primary" routerLink="/products" routerLinkActive="router-link-active">
                    Learn More
                </button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" style="filter: brightness(50%)">
                <img src="../../assets/images/carousal-3-background.png" />
            </div>
            <div class="carousel-caption cap-right">

                <h1>
                    Tropos <br>
                    Security Shield
                </h1>
                <button class="btn btn-primary" routerLink="/security-shield"
                    routerLinkActive="router-link-active">Learn
                    More</button>

            </div>

        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/design-automation.png" />
            </div>
            <!-- <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div> -->
        </ng-template>
    </ngb-carousel>
</section>
<section class="cloud-provider">
    <div class="container" style="text-align: center;">
        <h3>
            We partner with leading

        </h3>
        <h1>
            CLOUD PROVIDERS
        </h1>
        <div class="row align-items-center">
            <div class="col-4">
                <img src="../../assets/images/aws-cloud-1.png" />
            </div>
            <div class="col-4">
                <img src="../../assets/images/microsoftAzure-1.png" />
            </div>
            <div class="col-4">
                <img src="../../assets/images/google-cloud-1.png" />
            </div>
        </div>

    </div>
</section>
<section class="dark-backg">
    <div class="row align-items-center">
        <div class="col-8">
            <h1>
                Facing Attrition of Key employees?
            </h1>
            <h1 class="has-text-danger">Why risk it?

            </h1>
            <h3>
                Extending your IT with our professionals will not only accelerate your development, but reduce costs
                as well.
            </h3>
        </div>
        <div class="col-4">
            <img src="../../assets/images/person-looking-out.png" class="sideImg" />
        </div>

    </div>
</section>
<section class="cloud-automation">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h1>
                Cloud Automation is the future,<br><span class="has-text-primary">and it's here!</span>
            </h1>
            <p>
                Cloud automation is more important than ever. The pandemic has shown people the viability of working
                from
                home. Despite the ability to return to workspaces, many companies are now adopting remote work for
                the
                long-term, with some companies planning to be <span class="has-text-primary">75% remote by
                    2025.</span>
            </p>
        </div>
    </div>
</section>
<section class="why-tuple">
    <div class="container">
        <div class=" col-sm-12">
            <h1>
                Why <span class="has-text-primary">Tuple Technologies ?</span>
            </h1>
            <ul>
                <li> We Provide the right talent to harness the full power of the cloud with a software- driven approach
                    to
                    manage service</li>
                <li> we have worked with enterprise clients for over 15 years to solve cloud hosting, cloud migration,
                    and
                    complex IT
                    infrastructure problems.</li>
                <li> Our teams of certified engineers apply cloud automation best practice to enable optimal
                    performance,
                    guaranteed uptime,
                    and secure your cloud environments.</li>
                <li>As an AWS Partner, we have proven expertise in managing complex cloud infrastructures for enterprise
                    clients
                    in the
                    healthcare, financial services, pharmaceutical, and semiconductor industries.</li>
                <li>
                    With 24x7x365 high-touch support, we ensure our clients’ cloud environment are always available and
                    secure.</li>

            </ul>





        </div>
    </div>
</section>
<section class="dark-backg">
    <div class="row text-center">
        <h1>You are in good <span class="has-text-success">hands</span>

        </h1>
        <h5>
            Founded by Software Engineers with combined 50+ years of experience.
        </h5>
    </div>
</section>
<section class="about-us">
    <div class="container">
        <h1>ABOUT <span class="has-text-primary">US</span> </h1>
        <p>

            Tuple Tech is an ISV (Independent Software Vendor) focused on Cloud/Digital Transformation. Tuple is looking
            to expand
            its portfolio offerings in the DevSecOps/Managed Services space across the globe.
        </p>
        <p>

            With our DevSecOps Platform called Tropos Platform, you save up to two months of launch time right away.
        </p>
        <p>
            Tuple is an ideal partner for any small or enterprise technology team looking to extend their IT department
            without
            having to invest in hiring and building their capabilities.
        </p>

        <p>
            Tuple is partnered with Amazon Web Services and other leading tech companies to offer additional IT features
            such as
            Application Development, Data Visualization & Reporting, Cybersecurity, and DevSecOps (including 24x7
            support and
            maintenance).

        </p>
    </div>

</section>
<section class="our-products">
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-12">

                <h1 style="text-align: center;">OUR PRODUCTS</h1>
            </div>
        </div>
    </div>
    <div class="container dark-backg ">
        <div class="our-prod-img">
            <img src="../../assets/images/products-bg.png" style="filter: brightness(30%)" class="d-sm-none d-md-block">
            <div class="card-product">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos Platform
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos License Monitor
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos Network Monitor </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos DevSecOps
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos Security Shield
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="card" routerLink="/products">
                            <div class="card-body mx-auto">
                                Tropos Alerts
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</section>

<section class="dark-backg">
    <div class="container text-center">
        <h2>HOW MUCH DO <span class="has-text-danger">
                DATA BREACHES
            </span> COST THE UNITED STATES EVERY YEAR?</h2>
        <h5 class="has-text-danger">approximately $600 billion annually</h5>
    </div>
</section>
<section class="our-service">
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-12">

                <h1 style="text-align: center;">OUR SERVICES</h1>
            </div>
        </div>
    </div>
    <div class="dark-backg">
        <div class="container">
            <div class="our-prod-img">
                <img src="../../assets/images/services-bg.png" style="filter: brightness(30%)" class="our-ser-img">
                <div class="card-services">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services">
                                <img src="../../assets/images/Manage.png" />
                                <div class="card-body mx-auto">
                                    Managed Services
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services">
                                <img src="../../assets/images/Competency.png" />
                                <div class="card-body mx-auto">
                                    Core Competencies
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services">

                                <img src="../../assets/images/data.png" />
                                <div class="card-body mx-auto">
                                    Data Visualization & Reporting </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services">
                                <img src="../../assets/images/it.png" />
                                <div class="card-body mx-auto">
                                    IT Ops
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services"><img src="../../assets/images/Cloud-sec.png" />
                                <div class="card-body mx-auto">
                                    Cloud Security
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="card" routerLink="/services"><img src="../../assets/images/ux.png"
                                    class="card-img-top" alt="...">
                                <div class="card-body mx-auto">
                                    UI/UX Design
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<section class="testimonial">
    <div class="container">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="background-color: #cccccc8b;">
                    <div class="text-start"><img src="../../assets/images/start-quote.png"></div>
                    <div class="context-test">Tuple Technologies LLC came in with lots of Amazon Web Services (AWS)
                        High-Performance Computing (HPC) expertise and was
                        able to get us migrated into AWS Cloud. Also, their 24x7 support of this infrastructure with a
                        good understanding of our
                        specific HPC requirements enabled us to transition smoothly into working in AWS Cloud.</div>
                    <div class="text-end"><img src="../../assets/images/end-quote.png"> </div>

                </div>
            </div>

        </div>
    </div>

</section>
<section class="our-partners ">
    <h1 class="text-center">
        Our Partners
    </h1>

</section>
<section class="our-partners-1" id="partners">
    <div class="items">


        <div>

            <img src="../../assets/images/AWS_logo_RGB.png" />

        </div>
        <div>

            <img src="../../assets/images/datadog_logo.png" />

        </div>
        <div>

            <img src="../../assets/images/jumpcloud-logo.png" />

        </div>
        <div>

            <img src="../../assets/images/gitlab-logo.png" />

        </div>
        <div>

            <img src="../../assets/images/solarwinds_logo.svg" />

        </div>
        <div>

            <img src="../../assets/images/cliosoft-logo.png" />

        </div>
        <div>

            <img src="../../assets/images/Mentor_logo.png" />

        </div>
        <div>

            <img src="../../assets/images/okta_logo.png" />

        </div>
        <div>

            <img src="../../assets/images/fortinet-logo.svg" />

        </div>
        <div>

            <img src="../../assets/images/ingram_black_logo.png" />

        </div>
        <div>

            <img src="../../assets/images/cyneristek-logo.png" />

        </div>
        <div>

            <img src="../../assets/images/Redspin_Logo_black.svg" />

        </div>
        <div>

            <img src="../../assets/images/lacework.png" />

        </div>
    </div>
</section>
<section class="dark-backg">
    <h1 class="text-center">
        Our Clients
    </h1>
    <div class="container our-client">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/invt bank.png" />
                <h6>INVESTMENT BANKS</h6>
            </div>
            <div class="col-4">
                <img src="../../assets/images/Educational.png" />
                <h6>EDUCATIONAL SOFTWARE PROVIDERS</h6>
            </div>
            <div class="col-4">
                <img src="../../assets/images/Pharma.png" />
                <h6>
                    FORTUNE 100 PHARMA & DIAGNOSTICS
                </h6>
            </div>
        </div>
    </div>

</section>

<section class="contact-us">
    <div class="container">
        <h1>Contact <span class="has-text-primary">US</span> </h1>
        <ul class="ul-icons">
            <li>
                <span><img src="../../assets/images/icon _Building.png"></span>&nbsp;&nbsp;California & New Jersey (USA)
                and
                Hyderabad
                (India)
            </li>
            <li>

                <span><img src="../../assets/images/mail.png"></span>&nbsp;&nbsp;sales@tupletechnologies.com
            </li>
            <li>

                <span><img src="../../assets/images/globe.png"></span>&nbsp;&nbsp;www.tupletechnologies.net/home
            </li>
            <li>
                <span><img src="../../assets/images/linkedin.png"></span>&nbsp;&nbsp;
                www.linkedin.com/company/tupletechnologies/
            </li>
        </ul>
    </div>
</section>
<!-- 
<section class="section hero is-light">
    <div class="container">
        <div class="columns has-text-left">
            <div class="column is-1"></div>
            <div class="column is-10">
                <div class="is-size-1 has-text-black is-uppercase is-family-secondary">
                    About <span class="has-text-primary">Us</span>
                </div>
                <div class="is-size-6">
                    Tuple Tech is an ISV (Independent Software Vendor) focused on Cloud/Digital Transformation.
                    Tuple is looking to expand its portfolio offerings in the DevSecOps/Managed Services space across
                    the globe.
                    <br>
                    <br>
                    With our DevSecOps Platform called Tropos Platform, you save up to two months of launch time right
                    away.
                    <br>
                    <br>
                    Tuple is an ideal partner for any small or enterprise technology team looking to extend their IT
                    department
                    without having to invest in hiring and building their capabilities.
                    <br>
                    <br>
                    Tuple is partnered with Amazon Web Services and other leading tech companies to offer additional IT
                    features
                    such as Application Development, Data Visualization & Reporting, Cybersecurity, and DevSecOps
                    (including 24x7
                    support and maintenance).

                </div>
            </div>
            <div class="column is-1"></div>
        </div>
    </div>
</section>

<section class="section hero" id="products">
    <div class="is-size-1 is-uppercase has-text-centered has-background-white has-text-black is-family-secondary">Our
        Products</div>
</section>
<section class="section hero is-black">
    <div class="container">
        <div class="image-text-container">
            <figure class="image" style="filter: brightness(30%)">
                <img src="../../assets/images/products-bg.png" />
            </figure>
            <div class="text-container">
                <div class="columns has-text-centered is-vcentered has-text-weight-bold is-size-5 is-multiline">
                    <div class="column is-4 custom-padding-top-row" routerLink="/products">Tropos <br> Platform</div>
                    <div class="column is-4  custom-padding-top-row" routerLink="/products">Tropos <br> License Monitor
                    </div>
                    <div class="column is-4  custom-padding-top-row" routerLink="/products">Tropos <br> Network Monitor
                    </div>
                    <div class="column is-4  custom-padding-bottom-row" routerLink="/products">Tropos <br> DevSecOps
                    </div>
                    <div class="column is-4  custom-padding-bottom-row" routerLink="/products">Tropos <br> Security
                        Shield</div>
                    <div class="column is-4  custom-padding-bottom-row" routerLink="/products">Tropos <br> Alerts</div>
                </div>
            </div>

        </div>


    </div>
</section> -->

<!-- <section class="section hero is-light">
  <div class="container">
    <h1 class="subtitle has-text-centered is-size-3 mb-6">
      Products
    </h1>
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card fill-card">
          <a href="/products/devsecops">
            <div class="card-content">
              <div class="card-header-title is-centered">
                <span class="icon">
                  <i
                    class="fas fa-bolt fa-3x has-text-primary"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <p
                class="
                  card-header-title
                  has-text-weight-normal
                  is-size-4 is-centered
                "
              >
                Tropos DevSecOps
              </p>
              <div class="content">
                DevSecOps is an efficient way of combining your software
                development with your IT operations with maximum security. It
                can allow for your business to streamline your systems life
                cycle, deliver applications and services at a higher velocity
                with increased security.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-4">
        <div class="card fill-card">
          <a href="/products/compliance">
            <div class="card-content">
              <div class="card-header-title is-centered">
                <span class="icon">
                  <i
                    class="fas fa-users fa-3x has-text-primary"
                    aria-hidden="true"
                  ></i>
                </span>
              </div>
              <p
                class="
                  card-header-title
                  has-text-weight-normal
                  is-size-4 is-centered
                "
              >
                Tropos Compliance
              </p>
              <div class="content">
                We deliver complete CMMC Level 3 compliance assessment, perform
                compliance remediation and support in getting CMMC Level 3
                certification by a certified C3PAO.
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="column is-4">
        <div class="card fill-card">
          <div class="card-content">
            <div class="card-header-title is-centered">
              <span class="icon">
                <i
                  class="fas fa-shield-alt fa-3x has-text-primary"
                  aria-hidden="true"
                ></i>
              </span>
            </div>
            <p
              class="
                card-header-title
                has-text-weight-normal
                is-size-4 is-centered
              "
            >
              Tropos Monitor
            </p>
            <div class="content">
              Tropos Monitor is a proprietary software which is used for
              Infrastructure Monitoring, Log Management, Security & Network
              Monitoring.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="section hero is-light" id="services">
  <div class="container">
    <h1 class="subtitle has-text-centered is-size-3 mb-6">
      Services
    </h1>
    <div class="columns is-multiline">
      <div class="column is-4">
        <div class="card fill-card">
          <div class="card-content">
            <div class="card-header-title is-centered">
              <span class="icon">
                <i
                  class="fas fa-cloud fa-3x has-text-primary"
                  aria-hidden="true"
                ></i>
              </span>
            </div>
            <p
              class="
                card-header-title
                has-text-weight-normal
                is-size-4 is-centered
              "
            >
              Cloud Migration
            </p>
            <div class="content">
              Cloud migration is critical for achieving real-time and updated
              performance and efficiency. As such, the process requires careful
              analysis, planning and execution to ensure the cloud solution's
              compatibility with your business requirements.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card fill-card">
          <div class="card-content">
            <div class="card-header-title is-centered">
              <span class="icon">
                <i
                  class="fas fa-cogs fa-3x has-text-primary"
                  aria-hidden="true"
                ></i>
              </span>
            </div>
            <p
              class="
                card-header-title
                has-text-weight-normal
                is-size-4 is-centered
              "
            >
              SysOps
            </p>
            <div class="content">
              Where DevOps manages the activities related to operation and
              development, SysOps aligns your business goals alongside your IT
              operations. SysOps is a huge help to companies’ keeping their
              business goals on track.
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card fill-card">
          <div class="card-content">
            <div class="card-header-title is-centered">
              <span class="icon">
                <i
                  class="fas fa-microchip fa-3x has-text-primary"
                  aria-hidden="true"
                ></i>
              </span>
            </div>
            <p
              class="
                card-header-title
                has-text-weight-normal
                is-size-4 is-centered
              "
            >
              Design Verification
            </p>
            <div class="content">
              High-Performance Computing (HPC) expertise along with IC
              Semiconductor & FPGA Design/Verification.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> 

<section class="section hero is-black">
    <div class="container">
        <div class="columns">
            <div class="column mx-6 has-text-centered">
                <div class="is-size-1 mb-6 is-uppercase is-family-secondary">
                    How much do <span class="has-text-danger">data breaches</span> cost the United States every year?
                </div>
                <div class="subtitle has-text-danger">
                    approximately $600 billion annually
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero" id="services">
    <div class="is-size-1 is-uppercase has-text-centered has-background-white has-text-black is-family-secondary">Our
        Services</div>
</section>
<section class="section hero is-black">
    <div class="container">
        <div class="image-text-container">
            <figure class="image" style="filter: brightness(30%)">
                <img src="../../assets/images/services-bg.png" />
            </figure>
            <div class="text-container">
                <div class="columns has-text-centered is-vcentered has-text-weight-bold is-size-5">
                    <div class="column services-custom-padding-top-row" routerLink="/services">
                        <div class="columns ml-2 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/Manage.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered">Managed <br> Services</div>
                    </div>
                    <div class="column services-custom-padding-top-row" routerLink="/services">
                        <div class="columns ml-5 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/Competency.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered"> Core <br> Competencies</div>
                    </div>
                    <div class="column services-custom-padding-top-row" routerLink="/services">
                        <div class="columns ml-6 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/data.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered"> Data Visualization & Reporting </div>
                    </div>
                </div>
                <div class="columns has-text-centered is-vcentered has-text-weight-bold is-size-5">
                    <div class="column services-custom-padding-bottom-row" routerLink="/services">
                        <div class="columns ml-3 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/ux.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered">UI/UX Design</div>
                    </div>
                    <div class="column services-custom-padding-bottom-row" routerLink="/services">
                        <div class="columns ml-2 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/it.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered ml-2">IT Ops</div>
                    </div>
                    <div class="column services-custom-padding-bottom-row" routerLink="/services">
                        <div class="columns ml-3 mb-5">
                            <figure class="image is-64x64">
                                <img src="../../assets/images/Cloud-sec.png" />
                            </figure>
                        </div>
                        <div class="columns has-text-centered">Cloud Security</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section hero is-light">
    <div class="container">
        <h1 class="subtitle has-text-centered is-size-3">What Our Customers Say</h1> 
        <div class="columns is-vcentered mb-6 is-multiline">
            <div class="column is-128x128 has-text-left">
                <div class="card m-6" style="background-color: #CDEEEC;">
                    <div class="card-content" style="padding: 4rem 5rem;">
                        <div class="start-quote">
                            <img src="../../assets/images/start-quote.png" />
                        </div>
                        <p class="subtitle">
                            Tuple Technologies LLC came in with lots of Amazon Web Services (AWS) High-Performance
                            Computing (HPC)
                            expertise and was able to get us migrated into AWS Cloud. Also, their 24x7 support of this
                            infrastructure with a good understanding of our specific HPC requirements enabled us to
                            transition
                            smoothly into working in AWS
                            Cloud.
                        </p>
                        <div class="end-quote">
                            <img src="../../assets/images/end-quote.png" />
                        </div>
                        <div class="subtitle is-size-6 has-text-primary">
                            <span class="icon">
                                <i class="fas fa-user has-text-primary" aria-hidden="true"></i>
                            </span>
                            Sr Director of Engineering
                            <div class="subtitle is-size-6 has-text-grey mt-3 ml-1">
                                Fortune 100 Pharmaceutical
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="subtitle">
              “Tuple Technologies has very talented and dedicated Amazon Web
              Services (AWS) architects. They are true partners; they take
              ownership of end to end deliverables, give sound advice on the
              kind of technologies to use, assess pros and cons, all with
              consideration for optimal cost. I am very pleased to be working
              with them, I always trust their work to be high quality, complete,
              and ultimately correct.”
            </p>
            <div class="subtitle is-size-6 has-text-primary">
              <span class="icon">
                <i class="fas fa-user has-text-primary" aria-hidden="true"></i>
              </span>
              Vice President of Engineering
              <div class="subtitle is-size-6 has-text-grey mt-3 ml-1">
                NY-based financial services firm
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="subtitle">
              “Tuple's flexibility and depth of expertise has continuously
              impressed not just me, but the rest of our company. They are the
              experts we have been looking for in the complex field of IT.
              Working with Tuple has made my life much easier, they provide high
              quality services, and their work has made a substantial difference
              to our production uptime and our business continuity.”
            </p>
            <div class="subtitle is-size-6 has-text-primary">
              <span class="icon">
                <i class="fas fa-user has-text-primary" aria-hidden="true"></i>
              </span>
              Director of IT
              <div class="subtitle is-size-6 has-text-grey mt-3 ml-1">
                San Francisco-based advanced PCB manufacturer
              </div>
            </div>
          </div>
        </div>
      </div> 
        </div>
    </div>
</section>
<section class="section hero is-black" id="partners">
    <div class="is-size-1 is-uppercase has-text-centered has-background-black has-text-white is-family-secondary">Our
        Partners</div>
</section>
<section class="section hero is-light" id="partners">
    <div id="carousel-demo" class="carousel mb-0 pb-0">
        <div class="item-1">
            <figure class="image is-128x128">
                <img src="../../assets/images/AWS_logo_RGB.png" />
            </figure>
        </div>
        <div class="item-2">
            <figure class="image is-128x128">
                <img src="../../assets/images/datadog_logo.png" />
            </figure>
        </div>
        <div class="item-2">
            <figure class="image is-128x128">
                <img src="../../assets/images/jumpcloud-logo.png" />
            </figure>
        </div>
        <div class="item-2">
            <figure class="image is-128x128">
                <img src="../../assets/images/gitlab-logo.png" />
            </figure>
        </div>
        <div class="item-3">
            <figure class="image is-128x128">
                <img src="../../assets/images/solarwinds_logo.svg" />
            </figure>
        </div>
        <div class="item-4">
            <figure class="image is-128x128">
                <img src="../../assets/images/cliosoft-logo.png" />
            </figure>
        </div>
        <div class="item-5">
            <figure class="image is-128x128">
                <img src="../../assets/images/Mentor_logo.png" />
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-128x128">
                <img src="../../assets/images/okta_logo.png" />
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-128x128">
                <img src="../../assets/images/fortinet-logo.svg" />
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-128x128">
                <img src="../../assets/images/ingram_black_logo.png" />
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-128x128">
                <img src="../../assets/images/cyneristek-logo.png" />
            </figure>
        </div>
        <div class="item-6">
            <figure class="image is-128x128">
                <img src="../../assets/images/Redspin_Logo_black.svg" />
            </figure>
        </div>
        <div class="item-7">
            <figure class="image is-128x128">
                <img src="../../assets/images/lacework.png" />
            </figure>
        </div>
    </div>
</section>

<section class="section hero is-black has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column mx-6">
                <div class="is-size-1 mb-6 is-uppercase is-family-secondary">
                    Our Clients
                </div>
            </div>
        </div>
        <div class="columns is-uppercase is-vcentered is-hidden-mobile">
            
                <figure class="image is-128x128">
                    <img src="../../assets/images/invt bank.png" />
                </figure>
            </div>
            
                <figure class="image is-128x128">
                    <img src="../../assets/images/Educational.png" />
                </figure>
            </div>
            
                <figure class="image is-128x128">
                    <img src="../../assets/images/Pharma.png" />
                </figure>
            </div>
        </div>
        <div class="columns is-uppercase">
            <div class="column">
                Investment Banks
            </div>
            <div class="column">
                Educational Software Providers</div>
            <div class="column">
                Fortune 100 Pharma & Diagnostics
            </div>
        </div>
    </div>
</section>

<section class="section" id="gitlab-microsite">
  <div class="container">
    <h1 class="subtitle has-text-centered is-size-3 mb-6">DevSecOps with Gitlab</h1>
    <div class="box">
      <figure class="image">
        <a href="https://learn.gitlab.com/tuple-technologies-m?utm_partnerid=0014M00001pQuhjQAC" target="_blank">
          <img src="../../assets/images/Tuple_Gitlab_Microsite.png" />
        </a>
      </figure>
    </div>
  </div>
</section> -->
<!-- <section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-normal has-text-centered mb-6">
        Looking for a custom solution?
      </h1>
      <h2 class="subtitle has-text-centered">
        Our team can provide you with the best custom made solutions on the
        market, <br />
        no matter whether you're a small business or large enterprise.
      </h2>
      <div class="has-text-centered">
        <a href="/contact" class="button is-warning"> Contact Us </a>
      </div>
    </div>
  </div>
</section> -->